.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100vw;
  background-color: #f6f8fa;
  height: 104px;
  border: solid 1px #d8dee4;
}

.app-header-global {
  height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: solid 1px #d8dee4;
}

.app-header-local {
  height: 48px;
}

.container {
  width: calc(100vw - 224px);
  height: calc(100vh - 104px);
  margin-top: 8px;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  border: solid 1px #d8dee4;
}

.data-view-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
  height: calc(100vh - 104px);
}

.layout-sidebar {
  border: solid 1px #d8dee4;
}

.layout-main {
  border: solid 1px #d8dee4;
}