.hamburger-icon {
  font-size: 16px;
  color: grey;
}

.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border: solid 1px #d8dee4;
  border-radius: 5px;
  height: 32px;
  margin-right: 8px;
}

.github-icon {
  margin-left: 8px;
  font-size: 32px;
}

.menu-list-icon {
  color:#4b5055;
  margin-right: 6px;
}

.name-tag {
  margin-left: 16px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.app-header-local ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header-local li {
 list-style: none;
 color:#4b5055;
 font-size: 15px;
 margin-right: 20px;
}

.app-header-local a {
  text-decoration: none;
  color: inherit; 
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100vw;
  background-color: #f6f8fa;
  height: 104px;
  border: solid 1px #d8dee4;
}

.app-header-global {
  height: 32px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.app-header-local {
  height: 48px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  margin-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  border: solid 1px #d8dee4;
}

.data-view-container {
  display: grid;
  gap: 24px;
  height: calc(100vh - 104px);
  max-width: 100%; 
  overflow-x: auto;
}

/* 화면 너비가 1012px 이하일 때는 1fr 3fr 비율로 나눔 */
.data-view-container {
  grid-template-columns: 1fr 3fr;
}

/* 화면 너비가 1012px 이상일 때만 LayoutSidebar 너비를 296px로 고정 */
@media (min-width: 1012px) {
    .data-view-container {
        grid-template-columns: 296px auto;
    }
}

.layout-sidebar {
  border: solid 1px #d8dee4;
  width: 296px;
  flex-shrink: 0; /* 이 속성을 사용하면 화면 크기가 줄어들어도 LayoutSidebar의 너비가 고정됨 */
}

.layout-main {
  width: calc(100%-296px);
  border: solid 1px #d8dee4;
  flex: 1; /* layout-main은 남은 공간을 모두 차지하게 됨 */
  overflow-x: hidden; 
}

li.selected::after {
  content: "";
  display: block;
  height: 2px; 
  background-color: orange; 
  margin-top: 11px;
}

.profile-box {
  background-color: white;
  width: 100%;  /* 부모 요소인 .layout-sidebar의 너비를 꽉 채움 */
  aspect-ratio: 1;  /* 너비와 높이의 비율을 1:1로 설정 */
  margin-top: 32px;

  overflow: hidden;  /* 이미지가 밖으로 나가는 것을 방지 */
  border-radius: 50%;  /* 원형으로 만듭니다 */
  position: relative;  /* 이미지를 가운데 정렬하기 위한 설정 */
  border: solid 2px #d8dee4;
}

.profile-image {
  display: block;
  width: 100%;  /* 이미지의 너비를 profile-box의 너비와 동일하게 설정 */
  height: 100%;  /* 이미지의 높이를 profile-box의 높이와 동일하게 설정 */
  object-fit: cover;  /* 이미지가 비율을 유지하면서 꽉 차게 표시되도록 함 */
  position: absolute;  /* 가운데 정렬을 위한 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 가운데 정렬을 위한 설정 */
}

.introduce-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.name-box {
  margin: 0px;
}

.job-box {
  font-size: 20px;
  color: #4b5055;
}

.contactInfo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactInfo {
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.contactInfo > span {
  margin-left: 8px;
  font-weight: lighter;
}

.contactInfo > span > a{
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상을 상속 */
  cursor: pointer; /* 마우스 커서를 손 모양으로 표시 */
}

.contactInfo > span > a:visited{
  color: inherit;
}

.contactInfo > span > a:hover{
  text-decoration: underline;
  color: #0969da;
}

.contactinfo-icon {
  margin-right: 4px;
  color: #4b5055;
}

.seperation-line {
  margin-top: 16px;
  margin-left: 2px;
  margin-right: 2px;
  border-top: solid 1px #d8dee4;
}

.organizstions-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.organizstions-items {
  position: relative;
  display: flex;
}

.organizstions-item {
  overflow: hidden;
  position: relative;
  border: solid 1px #d8dee4;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 4px; 
}

.organizstions-item img {
  position: absolute; /* .achivements-item 내에서 절대 위치를 사용 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 박스 크기에 맞게 조절됨 */
}

.layout-main {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.overview-title {
  display: flex;
}

.projects-box > ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.projects-box > ul > li {
  list-style: none;
  width: calc(50% - 16px);
  box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
  border: solid 1px #d8dee4;
  margin: 8px;
  border-radius: 5px;
}

.project-box {
  padding: 16px;
}

.project-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0969da;
  font-weight: bold;
  text-decoration: none;
}

.project-title > a {
  color: inherit;          /* 상속받은 색상 사용 */
  text-decoration: none;   /* 밑줄 제거 */
  outline: none;           /* 테두리 제거 */
}

.project-icon {
  margin-right: 4px;
  color: #4b5055;
}

.project-skill {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  font-size: 12px;
}

.skill-name {
  display: flex;
  margin-top: 8px;
  margin-right: 4px;
  padding: 6px;
  color: #4b5055;
}

.skill-color-blue {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #0969da;
}

.skill-color-black {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: black;
}

.skill-color-skyblue {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #61dafb;
}

.skill-color-purple {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #764abc;
}

.skill-color-pink {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #db7093;
}

.skill-color-yellow {
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #f1e05a;
}

.timeline-box {
  margin-top: 8px;
  margin-bottom: 24px;
}

.timeline-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px #d8dee4;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.timetable-wrapper {
  overflow-x: auto;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(52, 12px);
  gap: 4px;
}

.timeline-month tr {
  display: flex;
}

.timeline-month tr th {
  margin-right: 46px;
}

.timeline-month th {
  font-weight: normal;
  font-size: 12px;
}

.timeline > span {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 2px;
  background-color: #eee;
}

.timetable-history-type {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
  margin-top: 6px;
}

.history-type {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #4b5055;
  margin-right: 8px;
}

.work {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #40c463;
}

.education {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #e2be49;
}

.project {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #4a91e2;
}

/* test중 */
.split-colors {
  position: relative;
  width: 12px;
  height: 12px;
}

.half-color {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.first-color {
  border-width: 12px 12px 0 0;
  border-color: #e2be49 transparent transparent transparent;
  top: 0;
  left: 0;
}

.second-color {
  border-width: 0 0 12px 12px;
  border-color: transparent transparent #4a91e2 transparent;
  bottom: 0;
  right: 0;
}

.activity-wrapper {
  display: flex;
  justify-content: space-between;
}

.activities {
  width: calc(100% - 140px);
}

.history-table-wrapper {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0; 
  border-radius: 5px;
  border: solid 1px #d8dee4;
}

.year-btn-wrapper {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.year-btn-on {
  background-color: #0969da;
  width: 85px;
  height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.year-btn-off {
  width: 85px;
  height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #4b5055;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.year-btn-off :hover{
  background-color: #eee;
}