.hamburger-icon {
  font-size: 16px;
  color: grey;
}

.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border: solid 1px #d8dee4;
  border-radius: 5px;
  height: 32px;
  margin-right: 8px;
}

.github-icon {
  margin-left: 8px;
  font-size: 32px;
}

.menu-list-icon {
  color:#4b5055;
  margin-right: 6px;
}

.name-tag {
  margin-left: 16px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.app-header-local ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header-local li {
 list-style: none;
 color:#4b5055;
 font-size: 15px;
 margin-right: 20px;
}

.app-header-local a {
  text-decoration: none;
  color: inherit; 
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100vw;
  background-color: #f6f8fa;
  height: 104px;
  border: solid 1px #d8dee4;
}

.app-header-global {
  height: 32px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.app-header-local {
  height: 48px;
}

.container {
  width: calc(100vw - 224px);
  height: calc(100vh - 104px);
  margin-top: 8px;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  border: solid 1px #d8dee4;
}

.data-view-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
  height: calc(100vh - 104px);
}

.layout-sidebar {
  border: solid 1px #d8dee4;
}

.layout-main {
  border: solid 1px #d8dee4;
}

li.selected::after {
  content: "";
  display: block;
  height: 2px; 
  background-color: orange; 
  margin-top: 11px;
}

.profile-box {
  background-color: white;
  width: 100%;  /* 부모 요소인 .layout-sidebar의 너비를 꽉 채움 */
  aspect-ratio: 1;  /* 너비와 높이의 비율을 1:1로 설정 */
  margin-top: 32px;

  overflow: hidden;  /* 이미지가 밖으로 나가는 것을 방지 */
  border-radius: 50%;  /* 원형으로 만듭니다 */
  position: relative;  /* 이미지를 가운데 정렬하기 위한 설정 */
  border: solid 2px #d8dee4;
}

.profile-image {
  display: block;
  width: 100%;  /* 이미지의 너비를 profile-box의 너비와 동일하게 설정 */
  height: 100%;  /* 이미지의 높이를 profile-box의 높이와 동일하게 설정 */
  object-fit: cover;  /* 이미지가 비율을 유지하면서 꽉 차게 표시되도록 함 */
  position: absolute;  /* 가운데 정렬을 위한 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 가운데 정렬을 위한 설정 */
}

.introduce-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.name-box {
  margin: 0px;
}

.job-box {
  font-size: 20px;
  color: #4b5055;
}

.contactInfo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactInfo {
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.contactInfo > span {
  margin-left: 8px;
  font-weight: lighter;
}

.contactInfo > span > a{
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상을 상속 */
  cursor: pointer; /* 마우스 커서를 손 모양으로 표시 */
}

.contactInfo > span > a:visited{
  color: inherit;
}

.contactInfo > span > a:hover{
  text-decoration: underline;
  color: rgb(0, 4, 255);
}

.contactinfo-icon {
  margin-right: 4px;
  color: #4b5055;
}

.seperation-line {
  margin-top: 16px;
  margin-left: 2px;
  margin-right: 2px;
  border-top: solid 1px #d8dee4;
}

.organizstions-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.organizstions-items {
  position: relative;
  display: flex;
}

.organizstions-item {
  overflow: hidden;
  position: relative;
  border: solid 1px #d8dee4;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 4px; 
}

.organizstions-item img {
  position: absolute; /* .achivements-item 내에서 절대 위치를 사용 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 박스 크기에 맞게 조절됨 */
}